#sidebar button:hover {
  color: #fff;
}

#sidebar button:focus {
  color: #fff;
  background-color: #1e2939;
}

#footer:hover {
  background-color: #9d0000 !important;
}

#footer:focus {
  background-color: #8d0000 !important;
}

#innerButtons button:focus {
  background-color: #101828 !important;
}
